<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="cordova.plugins.diagnostic.modules" value="" />

    <platform name="android">
        <resource-file src="res/notification_icon/notification.png" target="app/src/main/res/drawable/notification.png" />

        <resource-file src="res/notification_icon/android/notification_uimode_dark.png" target="app/src/main/res/drawable/notification_uimode_dark.png" />
        <resource-file src="res/notification_icon/android/notification_uimode_light.png" target="app/src/main/res/drawable/notification_uimode_light.png" />

        <resource-file src="res/notification_icon/android/notification_vector.xml" target="app/src/main/res/drawable/notification_vector.xml" />

        <resource-file src="res/notification_icon/android/notification_vector_uimode_dark.xml" target="app/src/main/res/drawable/notification_vector_uimode_dark.xml" />
        <resource-file src="res/notification_icon/android/notification_vector_uimode_light.xml" target="app/src/main/res/drawable/notification_vector_uimode_light.xml" />

        <hook type="after_prepare" src="hooks/ios_notification_icon.js" />
    </platform>

    <platform name="ios">
        <hook type="after_prepare" src="hooks/ios_notification_icon.js" />
    </platform>
</widget>
